<style>
    .iconBack {
        position: fixed;
        top: 5px;
        left: -50px;
        bottom: 0;
        width: 50%;
    }
</style>

<ion-header>
    <ion-toolbar>

        <div class="iconBack">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </div>

        <ion-title style="text-align: center;">camera</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <br>
    <ion-button expand="full" (click)="takePhoto()">Camera</ion-button>
    <ion-button expand="full" (click)="openGallery()">Gallery</ion-button>

    <ion-img src="{{image}}"></ion-img>

    <ion-button expand="full" (click)="uploadImage()">Upload</ion-button>

</ion-content>
