<style>
    .iconBack {
        position: fixed;
        top: 5px;
        left: -50px;
        bottom: 0;
        width: 50%;
    }
</style>

<ion-header>
    <ion-toolbar>

        <div class="iconBack">
            <ion-back-button defaultHref="home"></ion-back-button>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">SearchMenu</ion-label>
        <ion-input>

        </ion-input>
    </ion-item>
    <ion-button (click)="searchMenu()">Search</ion-button>

    <ion-card *ngFor="let name of listName">

        <ion-card-title>{{name.mmenu}}</ion-card-title>
        <ion-card-content>{{name.mcal}}</ion-card-content>

    </ion-card>
</ion-content>
