<style>
  .iconBack {
    position: fixed;
    top: 5px;
    left: -50px;
    bottom: 0;
    width: 50%;
  }

  .buttonSave {
    text-align: center;
  }
</style>

<ion-header>
  <ion-toolbar>

    <div class="iconBack">
      <ion-back-button defaultHref="home"></ion-back-button>
    </div>
    <ion-title style="text-align: center;">ตั้งค่า</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>ชื่อผู้ใช้</ion-card-header>
    <ion-item>
      <ion-input type="string" ></ion-input>
    </ion-item>

    <ion-card-header>อีเมล</ion-card-header>
    <ion-item>
      <ion-input type="string" >{{datapass.email}}</ion-input>
    </ion-item>

    <ion-card-header>รหัสผ่าน</ion-card-header>
    <ion-item>
      <ion-input type="password" >{{datapass.password}}</ion-input>
    </ion-item>

    <ion-card-header>FacebookID</ion-card-header>
    <ion-item>
      <ion-text color="dark">{{datapass.facebookID}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>วันเดือนปี</ion-label>
      <ion-datetime value="{{Rdate | date: 'DD/MM/YY'}}"
                    displayFormat="DD/MM/YY"
                    [ngModel]="Rdate.toString()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>เพศ</ion-label>
      <ion-select>
        <ion-select-option value="F" ></ion-select-option>
        <ion-select-option value="M" ></ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>น้ำหนัก</ion-label>
      <ion-input style="text-align: right;" type="string" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>ส่วนสูง</ion-label>
      <ion-input style="text-align: right;" type="string" ></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-title style="text-align: center;">เป้าหมาย</ion-title>
    <ion-item>
      <ion-label>ลดน้ำหนัก</ion-label>
      <ion-checkbox mode="ios" color="primary" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>เพิ่มน้ำหนัก</ion-label>
      <ion-checkbox mode="ios" color="primary" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>น้ำหนักคงที่</ion-label>
      <ion-checkbox mode="ios" color="primary" ></ion-checkbox>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-title style="text-align: center;">การทำกิจกรรม</ion-title>
    <ion-item>
      <ion-label>น้อยมาก</ion-label>
      <ion-checkbox mode="ios" color="primary" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>น้อย</ion-label>
      <ion-checkbox mode="ios" color="primary" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>ปานกลาง</ion-label>
      <ion-checkbox mode="ios" color="primary" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>หนัก</ion-label>
      <ion-checkbox mode="ios" color="primary"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>หนักมาก</ion-label>
      <ion-checkbox mode="ios" color="primary" ></ion-checkbox>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-title style="text-align: center;">น้ำหนักที่ต้องการเพิ่ม/ลด</ion-title>
    <ion-input style="text-align: center;" type="string" ></ion-input>
  </ion-card>

  <ion-card>
    <ion-title style="text-align: center;">น้ำหนักที่จะลดลงในแต่ละสัปดาห์</ion-title>
    <ion-input style="text-align: center;" type="string" ></ion-input>
  </ion-card>

  <div class="buttonSave">
    <ion-button color="success" >
      บันทึกการเปลี่ยนแปลง
    </ion-button>
  </div>

</ion-content>
