<ion-content>
    <ion-card>
        <ion-card-header style="text-align: center;">แคลอรี่ที่เหลือ</ion-card-header>
    </ion-card>

    <ion-tabs>

        <ion-tab-bar slot="bottom">

            <ion-tab-button tab="home">
                <ion-icon name="home"></ion-icon>
                <ion-label>หน้าแรก</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="search" [routerLink]="'/search'">
                <ion-icon name="search"></ion-icon>
                <ion-label>ค้นหา</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="camera" [routerLink]="'/camera'">
                <ion-icon name="camera" ></ion-icon>
                <ion-label>กล้อง</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="hammer">
                <ion-icon name="hammer"></ion-icon>
                <ion-label>ตั้งค่า</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="folder">
                <ion-icon name="folder"></ion-icon>
                <ion-label>ประวัติ</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>
